.series-bubble {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 10px;
  border: 2px solid rgb(255, 255, 255, 0.9);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.series-bubble:hover {
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
  filter: brightness(80%);
}

.series-title {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}
