.form-fields {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 10px;
  gap: 10px;
}

/* form fields input type text */
.form-fields input[type="text"] {
  width: 226px;
  height: 20px;
  padding: 0 0 0 15px;
  outline-offset: 2px;
  background-color: #333333;
  color: white;
  border: none;
}
.form-fields input[type="file"] {
  background-color: #333333;
  width: 241px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
