.header {
  background-color: #292929;
  display: flex;
  justify-content: flex-start;
  padding: 12px 15px;
  border-bottom: 1px solid rgb(255, 255, 255, 0.9);
  gap: 15px;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  user-select: none;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid rgb(255, 255, 255, 0.9);
  border-radius: 5px;
  margin: 0;
  font-size: 36px;
  color: #ffffff;
  background-color: #222222;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  font-family: "Brush Script MT", cursive;
  cursor: pointer;
  text-decoration: none;
}

.hide-arrow {
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateY(-50%);
  rotate: -90deg;
  height: 30px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.header:hover .hide-arrow {
  opacity: 0.8;
}

.show-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: 0.3s ease-in-out;
  box-shadow: inset 0px 10px 15px -10px rgba(255, 255, 255, 0.85);
  cursor: pointer;
}

.show-header:hover {
  opacity: 1;
}

.show-arrow {
  opacity: 0.8;
  height: 30px;
  rotate: 90deg;
  cursor: pointer;
}

.hidden {
  display: none;
}
