.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
  text-shadow: none;
}

.popup.open {
  display: flex;
}

.popup-content {
  background-color: #292929;
  padding: 15px;
  width: 340px;
  /* border: 2px solid rgb(255, 255, 255, 0.9); */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.popup-content h2 {
  font-size: 20px;
  margin: 0 0 5px 0;
  font-weight: normal;
}

.popup-content span {
  font-size: 18px;
  margin: 0 0 5px 0;
  font-weight: normal;
}

.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: transparent;
  border: none;
  color: #999;
  cursor: pointer;
}

.popup-remove-button-container {
  position: relative;
  display: flex;
  padding-top: 10px;
  justify-content: flex-end;
}
