.arrow {
  height: 7.5%;
  position: absolute;
  bottom: 3%;
  opacity: 0;
  transition: opacity 0.3s ease;
  user-select: none;
}

#left-arrow {
  left: 15px;
  scale: -1;
}

#right-arrow {
  right: 15px;
}

.display-margin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
  height: 100vh;
  background-color: none;
  position: relative;
}

.display-margin:hover .arrow {
  opacity: 1;
}
