.navigation-bar {
  display: flex;
  flex-direction: column;
  background-color: #292929;
  width: 16%;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  padding: 15px 0;
  gap: 10px;
}

.navigation-bar-title {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.navigation-bar-selector select {
  background-color: #343434;
  width: 150px;
  color: white;
}
