.navigation-bar {
  display: flex;
  flex-direction: column;
  background-color: #292929;
  width: 16%;
  justify-content: flex-start;
  z-index: 4;
}

.navigation-bar-title a {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}

.navigation-bar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #212121;
  user-select: none;
}

.navigation-bar-title h1 {
  margin: 0;
  font-size: 20px;
  padding: 15px 0;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.back-button {
  transform: scaleX(-1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

.header-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.back-button img {
  width: 15px;
}

.navigation-bar-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #343434;
  border-bottom: 2px solid #212121;
}

.navigation-bar-selector select {
  background-color: #343434;
  color: white;
  user-select: none;
  border: none;
  padding: 10px;
  appearance: none;
  text-align: left;
  width: 80%;
  text-align-last: center;
  outline: none;
}
