.chapter-item {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
  height: 30px;
  width: 100%;
  color: white;
  border-left: 3px solid white;
  border-radius: 5px;
  cursor: pointer;
  background-color: #292929;
}

.chapter-item-wrapper {
  width: 1398px;
  position: relative;
}

.chapter-title {
  padding-left: 10px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.chapter-item-wrapper a {
  text-decoration: none;
}
