.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0;
}

.page-item {
  display: inline-block;
}

.page-link {
  color: rgb(255, 255, 255);
  padding: 8px 12px;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.page-link:hover {
  background-color: #535353;
}

.active {
  background-color: #343434;
  padding: 9px 13px;
}
