.search-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 1366px;
  border: 1px solid #343434;
  margin-bottom: 50px;
  max-width: 100%;
}

.search-bar input {
  flex: 1;
  width: 100%;
  height: 40px;
  background-color: #1d1d1d;
  color: white;
  border: none;
  outline-offset: 2px;
  padding: 0 0 0 15px;
}

.search-bar button:hover {
  background-color: #484848;
}

.search-bar button {
  position: absolute;
  right: -1px;
  top: -1px;
  height: 42px;
}
