.series-bubbles-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 30px;
  margin: 200px 150px 50px 150px;
  border-radius: 10px;
  background-color: #1d1d1d;
  justify-content: flex-start;
}
