.series-bubble-wrapper {
  background-color: #343434;
  font-family: "Roboto", sans-serif;
}
.series-bubble {
  margin: 5px;
  width: 440px;
  height: 176px;
  display: flex;
  border-radius: 5px;
  flex-direction: row;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  gap: 10px;
  overflow: hidden;
}
