.tag {
  color: white;
  background-color: #181818;
  padding: 2px 8px;
  border-radius: 5px;
  text-transform: uppercase;
  font: 700 14px "Roboto", sans-serif;
  box-shadow: 0 0 2px rgba(0, 0, 0, 1);
}
